<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StayNjoy</title>
</head>
<body>
    <H3>Listing Details</H3>
   <ul>
    <li><%=listing.title%></li>
    <li><%=listing.description%></li>
    <li> &#8377;<%=listing.price.toLocaleString("en-IN")%></li>
    <li><%=listing.location%></li>
    <li><%=listing.country%></li>
    <br>
    <a href="/listings/<%= listing._id %>/edit"> edit this listing </a>
    <br><br>
    <form  method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
        <button>Delete</button>
    </form>
   </ul>
</body>
</html>